[submodule "vendor/Walnut"]
	path = vendor/Walnut
	url = https://github.com/Zentifyyy/Walnut.git
[submodule "vendor/libtinyfiledialogs"]
	path = vendor/libtinyfiledialogs
	url = https://github.com/IamtheMZI/libtinyfiledialogs.git
